<h1>Categorias de Carros</h1>
<% @car_categories.each do |cat| %>
  <div>
    <h2><%= link_to "Categoria #{cat.name}", cat %></h2>
    <dl>
      <dt>Valor da Diária</dt>
      <dd><%= number_to_currency cat.daily_rate %></dd>
    </dl>
  </div>
<% end %>